
.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: linear-gradient(178deg, #0d0d0d, #556b6d);
    height: 56px;
    z-index: 100;
}
.toolbar-navigation{
    max-width: 90rem;
    /* width: 100%; */
    margin: 0px auto;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 70px;
}
.toolbar-logo a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.toolbar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
p{
    margin: 10px 0px;
}
.spacer{
    flex: 1;
}
.toolbar-navigation-items li{
    padding: 0 0.5rem;
}
.toolbar-navigation-items a{
    color:#a7a7a7;
    text-decoration: none;
}
.toolbar-navigation-items a:hover,.toolbar-navigation-items a:active{
    color: grey;

}


@media screen and (max-width:1200px){
    .toolbar-navigation{
        padding: 0px 20px;
    }
    .toolbar-logo a{
        font-size: 28px;
    }
}

@media screen and (max-width:992px){
    .toolbar-logo a{
        font-size: 25px;
    }
}

@media screen and (max-width:768px){
    .toolbar-navigation{
        padding: 0px 10px;
    }
    .toolbar-logo a{
        font-size: 22px;
    }
}

@media screen and (max-width:576px){
    .toolbar-logo a{
        font-size: 18px;
    }
}
