
.home-main{
    display: flex;
    align-items: center;
    background: url(../../images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* height: 450px; */
    padding: 100px 70px;
}
.profile-photo{
    width: 30%;
}
.photo{
    width: 200px;
    height: 200px;
    text-align: center;
    /* margin: 4rem 1.5rem; */
    /* margin-left: 20%; */
    background: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../images/Profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.content{
    color: white;
    font-size: 30px;
    /* padding: 5rem; */
    text-align: center;
}
