.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404040;
    height: 60px;
}
.footer-body{
    display: flex;
    align-items: center;
    padding: 10px 10px 0px;
}
.each-contact{
    margin-right:20px;
    /* width: 50px;
    height: 50px; */
    cursor: pointer;
}
.each-contact a{
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    color: white;
}
/* .twitter{
    background: url(../../images/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.linkedin{
    background: url(../../images/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.github{
    background: url(../../images/github.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */